@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Content/app/indexApp.js"></script>
}
<div class="jumbotron">
    <h1>HIGS - Programas de Desconto</h1>
    <p class="lead">Permite associar um cliente à um programa de desconto</p>
    <p><a href="/Home/ConsultorCliente" class="btn btn-primary btn-large">Clientes Cadastrados por Consultor</a>&nbsp;<a href="#" class="btn btn-primary btn-large">Buscar Clientes por CPF</a></p>
</div>

<div class="row">
    <form id="frmCliente">
        <div class="col-md-12">
            <div class="form-group">
                <label for="CodIdentificadorTotvs">Código identificador Consultor TOTVS:</label>
                <input type="text" class="form-control" id="CodIdentificadorTotvs" placeholder="Cód. Identificador Consultor TOTVS">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="Nome" placeholder="Nome" maxlength="30">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Cpf">CPF:</label>
                <input type="text" class="form-control" id="Cpf" placeholder="CPF" maxlength="14">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="ProgramaDesconto">Programa de Desconto</label>
                <select class="form-control" id="ProgramaDesconto">
                    <option value="-1"></option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <p><a href="#" class="btn btn-primary btn-large" id="btnCadastrar">Cadastrar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-large" id="btnCancelar">Cancelar</a></p>
        </div>
    </form>
</div>
